---
import Layout from "@layouts/Layout.astro";
import Portfolio from "@sections/Portfolio.astro";
import Home from "@sections/Home.astro";
import ResumeBtn from "@components/ResumeBtn";
import ArrowDown from "@components/ArrowDown";
import AkwardPortfolio from "@sections/AkwardPortfolio.astro";
import LenisScroll from "@components/LenisScroll";
---

<Layout title="Julian | Software Developer">
  <main id="main-scroll" class="overflow-y-scroll h-screen">
    <Home />
    <Portfolio />
    <!-- <AkwardPortfolio /> -->
    <ResumeBtn client:load />
    <ArrowDown client:load />
    <LenisScroll client:load />
  </main>
</Layout>
<style>
  main {
    margin: 0;
    padding: 0;
  }
</style>
