---
import Layout from "../layouts/Layout.astro";
import Portfolio from "../components/Portfolio.astro";
import Home from "../components/Home.astro";
import ResumeBtn from "../components/ResumeBtn";
import ArrowDown from "../components/ArrowDown";
import AkwardPortfolio from "../components/AkwardPortfolio.astro";
---

<Layout title="Julian | Software Developer">
  <main>
    <Home />
    <Portfolio />
    <AkwardPortfolio />
    <ResumeBtn client:load />
    <ArrowDown client:load />
  </main>
</Layout>
<style>
  main {
    margin: 0;
    padding: 0;
  }
</style>
