---
import Slider from "./Slider/Slider.astro";
import logos from "../../content/logos.json";
import DarkModeSwitch from "./DarkModeSwitch";
---

<section id="home" class="flex flex-col lg:min-h-screen">
  <header class="flex w-full sm:mx-auto gap-10 px-4 sm:px-0 py-4 md:flex-row max-w-xl md:max-w-2xl lg:max-w-4xl xl:max-w-6xl justify-between items-center border-b border-custom-gray/[60%] text-zinc-600 dark:text-custom-gray font-semibold">
    <div class="flex items-center gap-2">
      <a href="mailto:julianmenav2@gmail.com">
        <div class="rounded-md w-10 h-10 flex justify-center items-center border border-custom-gray/[40%] bg-zinc-200 text-zinc-700 dark:bg-[#161616] dark:text-custom-gray">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-4 h-4">
            <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75"></path>
          </svg>
        </div>
      </a>
      <a class="hidden sm:block" href="mailto:julianmenav2@gmail.com"> julianmenav2@gmail.com</a>
    </div>
    <div class="flex justify-center items-center">
      <div class="mr-6 flex flex-wrap justify-end">
        <a class="bg-zinc-200 dark:bg-dark" href="https://www.linkedin.com/in/julian-mena-vi%C3%B1as/">LinkedIn</a>
        <span class="mx-1 bg-zinc-200 dark:bg-dark">/</span>
        <a class="bg-zinc-200 dark:bg-dark" href="https://github.com/Julianmenav">GitHub</a>
        <span class="mx-1 bg-zinc-200 dark:bg-dark">/</span>
        <a class="bg-zinc-200 dark:bg-dark" href="https://twitter.com/julianmenav">Twitter</a>
      </div>
      <DarkModeSwitch client:load />
    </div>
  </header>
  <section class="flex flex-col mt-10 mb-3 md:flex-1 justify-center items-center gap-10">
    <div class="flex flex-col items-center gap-5">
      <div class="rounded-full relative w-48 h-48 overflow-hidden bg-custom-gray">
        <img class="pt-6" src="/img/bw-propic.webp" alt="thats me" />
      </div>
      <p class="font-semibold text-zinc-600 dark:text-white bg-zinc-200 dark:bg-dark rounded-md px-2">Hi , I'm Julian 👋</p>
    </div>
    <p class="text-3xl mx-2 md:max-w-xl lg:max-w-2xl md:text-4xl lg:text-6xl text-center font-extrabold lg:leading-snug bg-clip-text text-transparent bg-gradient-to-r from-purple-800 to-blue-300/80 dark:from-white dark:to-[#242424]">Building and designing fullstack web applications.</p>
  </section>
  <!-- React Laravel Node Javascript Python Tailwind -->
  <section class="flex-1 md:flex-auto mt-5">
    <Slider items={logos} />
  </section>
</section>
